.contact-container {
  background: url("/images/gym pic.jpeg");
  background-size: cover;
  background-position: center;
  height: 550px;
}

.contact {
  text-align: center;
  max-width: 450px;
  margin: 0px auto;
}
.contact-form {
  height: 500px;
  /* border: 1px solid lightgray; */
  border-radius: 10px;
}

#form-input-control-email,
#form-input-control-last-name {
  height: 60px;
}

#form-textarea-control-opinion {
  height: 200px;
}
