.contact {
  text-align: center;
  max-width: 450px;
  margin: 20px auto;
}
.contact-form {
  height: 500px;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 50px;
}

#form-input-control-email,
#form-input-control-last-name {
  height: 60px;
}

#form-textarea-control-opinion {
  height: 160px;
}
